.article-card {
  display: block;
  background: white;
  border-radius: 14px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform .2s ease, box-shadow .3s ease;
}

.article-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

/* Image */
.article-card-image {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* TAG DATE dans l'image */
.article-date-tag {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0,0,0,0.55);
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 600;
}

/* Texte */
.article-card-body {
  padding: 1.2rem;
  padding-top: 0;
}

.article-card-title {
  font-size: 1.3rem;
  margin: 0.6rem 0;
}

.article-card-excerpt {
  color: #444;
  font-size: .95rem;
}

.articles-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

.articles-title {
  font-size: 2.5rem;
  color: black;
  background-color: #FFC700;
  padding: 0 8px; 
  margin-bottom: 12px;
}

.articles-grid {
  display: grid;
  margin-top: 12px;
  grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  gap: 2rem;
}

.article-banner {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.article-title {
  font-size: 2.4rem;
  margin: 2rem 0 0.5rem;
  text-align: center;
}

.article-date {
  text-align: center;
  color: #7B13D6;
  font-weight: 600;
  margin-bottom: 2rem;
}

.article-content {
  max-width: 900px;
  margin: 0 auto 4rem;
  padding: 0 1.5rem;
  font-size: 1.15rem;
  line-height: 1.7;
}
