
.rejoindre-setion {
  background-color: #7C3AED; /* violet intense */
  text-align: center;
  padding: 2rem 2rem;
  margin-top: 2rem;
  width: 100%;
}

.agir-title {
  color: black;
  background-color: #FFC700;
  padding: 0 8px; 
}

.rejoindre-block h2 {
  font-size: clamp(1.25rem, 5vw, 2.5rem);
  font-weight: 800;
  margin-bottom: 1rem;
}

.rejoindre-block p {
  font-size: clamp(0.6rem, 5vw, 1.2rem);
  margin-bottom: 2rem;
}

.cta-btn {
  background-color: #FFC700;
  border: none;
  color: black;
  font-weight: bold;
  padding: 0.8rem 1.8rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: clamp(0.75rem, 5vw, 1.5rem);
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.cta-btn:hover {
  background-color: #FFC700;
  transform: scale(1.05);
}

.rejoindre-setion {
  padding-top: 2rem;
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
}

.agir-content {
  max-width: 800px;
  font-size: clamp(0.6rem, 5vw, 1.2rem);
  line-height: 1.5;
  padding: 0rem 2rem;
}

.agir-image img {
  height: 256px;
  width: fit-content;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .rejoindre-setion  {
    flex-direction: column; 
  }

  .agir-content {
    padding: 2rem 0rem;
  }
}