.apropos-section {
  padding: 4rem 2rem;
  margin-top: 2rem;
  width: 100%;
}

.apropos-title {
  color: black;
  background-color: #7B13D6;
  padding: 0 8px; 
}

.content-apropos {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
}
.apropos-block {
  max-width: 800px;
  font-size: clamp(0.6rem, 5vw, 1.2rem);
  line-height: 1.2;
  padding: 0rem 2rem;
}
.apropos-block p {
  text-align: justify;
}

.beffroi {
  height: 512px;
  /*width: 384px;*/
  border-radius: 8px;
}

.bold {
  color: #43AC59;
  font-style: italic;
  font-size: clamp(0.6rem, 5vw, 1.2rem);
}


@media (max-width: 768px) {
  .content-apropos  {
    flex-direction: column; 
  }

  .beffroi {
    order: -1; 
  }

  .apropos-block {
    padding: 2rem 0rem;
  }
}