.title-home {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.douai-home {
  color: black;
  background-color: #43AC59;
  padding: 0 8px; 
}
.dfp-home {
  color: black;
  background-color: #FFC700;
  padding: 0 8px; 
}

.programme-cta-btn {
  background-color: #43AC59;
  border: none;
  color: black;
  font-weight: bold;
  padding: 1.5rem 4rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: clamp(0.5rem, 5vw, 4rem);
  transition: all 0.3s ease;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.programme-cta-btn:hover {
  background-color: #43AC59;
  color: white;
  transform: scale(1.05);
}
