.title-home {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.douai-home {
  color: black;
  background-color: #43AC59;
  padding: 0 8px; 
}
.dfp-home {
  color: black;
  background-color: #FFC700;
  padding: 0 8px; 
}

.programme-cta-btn {
  background-color: #43AC59;
  border: none;
  color: black;
  font-weight: bold;
  padding: 1.5rem 4rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: clamp(2rem, 5vw, 4rem);
  transition: all 0.3s ease;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.programme-cta-btn:hover {
  background-color: #43AC59;
  color: white;
  transform: scale(1.05);
}

.programme-block {
  margin-bottom: 6rem;
  margin: 0rem auto;
  margin-bottom: 4rem;
  width: 64rem;
}

.bandeau-wrapper {
  background-image: url('../../assets/douai.png');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
  width: 100%;
  padding-top: 10%;  /* Ajuste ici : plus = plus haut */
  padding-bottom: 10%;  /* Ajuste ici : plus = plus haut */
  position: relative;
}
.bandeau-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.bandeau-wrapper .bandeau-image {
  position: relative;
  z-index: 2;
}


@media (max-width: 768px) {
  .programme-block {
    width: auto;
  }

  .bandeau-wrapper .bandeau-image {  
    padding: clamp(2rem, 1vw, 1rem);
  }

}