/* MAIN CONTENT */
.content {
  padding: 8rem 0rem;
  text-align: center;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0 4rem 2rem;
}
