.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px; /* <-- AJOUT IMPORTANT */
  padding: 1.5rem 2rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.header-hidden {
  transform: translateY(-150%);
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
  height: 100px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
  cursor: pointer;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

body.dark-mode .menu-button {
  color: white;
}

.menu-button.open {
  color: white; /* couleur quand menuOpen = true */
  transform: scale(1.05);
}

body.dark-mode .menu-button.open {
  color: black;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: transparent;
  transition: transform 0.3s ease;
}
