.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
  height: 50px;
  cursor: pointer;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #fdfdfd;
}

.menu-button.open {
  color: black; /* couleur quand menuOpen = true */
  transform: scale(1.05);
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
