@font-face {
  font-family: 'Zalando Sans expanded';
  src: url('./assets/fonts/ZalandoSans_Expanded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Zalando Sans expanded';
  src: url('./assets/fonts/ZalandoSans_Expanded-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Zalando Sans expanded';
  src: url('./assets/fonts/ZalandoSans_Expanded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Zalando Sans expanded';
  src: url('./assets/fonts/ZalandoSans_Expanded-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Zalando Sans expanded';
  src: url('./assets/fonts/ZalandoSans_Expanded-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Zalando Sans expanded';
  src: url('./assets/fonts/ZalandoSans_Expanded-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Zalando Sans semicondensed';
  src: url('.\assets\fonts\ZalandoSans_SemiCondensed-Medium.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Zalando Sans semicondensed';
  src: url('.\assets\fonts\ZalandoSans_SemiCondensed-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: bold;
}
/* Style global */
body {
  margin: 0;
  font-family: 'Zalando Sans expanded', sans-serif;
  background-color: #fff;
  color: #111;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* background-image: url('./assets/bg.png');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
  min-height: 100vh;  */
}

/* Mode sombre */
body.dark-mode {
  background-color: #111;
  color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, li, a{
  font-family: 'Zalando Sans semicondensed', sans-serif;
  font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Zalando Sans expanded', sans-serif;
}


.lfired {
  color: #F91616;
}

.lfiyellow {
  color: #FFC700;
}

.lfigreen {
  color: #43AC59;
}

.lfipurple {
  color: #7B13D6;
}
