.toggle-block {
  width: 100%;
  margin: 20px 0;
  position: relative;
  padding-bottom: 50px; /* laisse de la place pour le bouton */
}

/* Bouton en bas à droite */
.toggle-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;

  background: none;
  border: none;
  padding: 0;

  color: white;
  font-size: 0.9rem;
  font-weight: 600;

  cursor: pointer;
  transition: opacity 0.2s ease;
}

.toggle-btn:hover {
  opacity: 0.7;
}

/* Animation du contenu */
.toggle-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease;
}

.toggle-content.open {
  max-height: 5000px; /* contenu visible d'emblée */
}
